Cython
librosa==0.8.0
matplotlib==3.3.1
numpy==1.23.5
phonemizer==2.2.1
scipy==1.9.3
tensorboard
torch
torchvision
Unidecode

jamo
ko_pron
unidecode
pyopenjtalk
inflect
eng_to_ipa
pypinyin
jieba
cn2an